<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
    
    <%- include ("partials/header") %>
</head>
<body>
    <%- include ("partials/navegacion") %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <div class="card text-center">
                    <div class="card-header">
                        <table class="table table-sm table-dark">
                            <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td><%= name %></td>
                            </tr>
                            <tr>
                                <td>Saldo</td>
                                <td><%= saldo %> puntos</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>
                                    <% if (rol == 0) { %>
                                        Usuario
                                    <% } else { %>
                                        <span class="text-danger">Administrador</span>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>Albumes</td>
                                <td><%= album %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body">  
                        <button class="btn btn-danger btn-block" onclick="location.href='/logout'">
                        Terimar sesión
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>