<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
    
    <%- include ("partials/header") %>
</head>
<body>
    <%- include ("partials/navegacion") %>

    <div class="container p-2">
        <div class="row">
            <div class="card btn-block bg-info p-2">
                <h5 class="text-center text-white">Últimos cromos añadidos</h5>
            </div>
        </div> 
        <br>
        <div class="row">

            <% for(var i=0; i < cromosTotal; i++) {%>

                <div class="col-md-3 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <img src="../../../img/<%= cromos[i].cromoImagen %>" class="img-fluid">
                        </div>

                        <div class="card-body bg-dark text-white text-center">
                            <%= cromos[i].cromoNombre %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 offset-md-4">
              <div class="card">
                <button type="button" class="btn btn-success" onclick="location.href='/tienda'">Ir a la tienda</button>
            </div>
        </div> 
    </div>
    </div>
</body>
<%- include ("partials/footer") %>
</html>